:root {
  --purple: #5c5db7;
  --primary-color: #fff200;
  --secondary-color: #000;
}

@font-face {
  font-family: "Arca Majora 3";
  src: url("/fonts/ArcaMajora3-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
