.postContainer {
  flex-basis: 32%;
  flex-grow: 1;
  min-width: 300px;
  height: 450px;
  color: white;
  perspective: 1200px;
}

.postContainer:hover {
  .wrapper {
    .content {
      .moreDetails {
        grid-template-rows: 1fr;

        p {
          margin-bottom: 1.5rem;
        }

        button {
          grid-template-rows: 1fr;
          padding: 0.55rem 1.4rem 0.4rem 1.4rem;
          height: auto;
        }
      }
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  box-shadow: 0 0 1rem 4px rgb(0 0 0 / 70%);
  overflow: hidden;
}

.overlay {
  --overlay-factor: 2;
  width: calc(100% * var(--overlay-factor));
  height: calc(100% * var(--overlay-factor));
  position: absolute;
  border-radius: 30px;
  transform: translate3d(0%, 0%, 0);
  left: calc(-100% / var(--overlay-factor));
  top: calc(-100% / var(--overlay-factor));
  opacity: 0;
  background-image: radial-gradient(circle at 50%, hsla(0, 0%, 100%, 0.25), transparent 50%);
}

.thumbnailWrapper {
  overflow: hidden;
  width: 100%;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
  display: block;
}

.content {
  padding: 1.5rem 1.5rem 0 1.5rem;
  flex-grow: 1;
  background-color: var(--secondary-color);
}
.header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.title {
  font-family: Bebas Neue;
  font-size: 2.2rem;
  line-height: 100%;
  color: var(--primary-color);
}

.categories {
  display: flex;
  gap: 5px;
}
.category {
  color: var(--secondary-color);
  font-size: 0.9rem;
  background-color: var(--primary-color);
  padding: 0.25rem 0.4rem 0.1rem 0.4rem;
  border-radius: 0.1rem;
  font-family: Bebas Neue;
  text-transform: uppercase;
}

.date {
  font-family: Open Sans;
  font-weight: 400;
}

.moreDetails {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}
.moreDetails p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 1.1rem;
  overflow: hidden;
}

.button {
  margin-top: auto;
  cursor: pointer;
  background: var(--primary-color);
  outline: none;
  border: none;
  padding: 0;
  width: fit-content;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  font-size: 1.4rem;
  height: 0;
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-weight: 600;
  overflow: hidden;
  margin: auto;
}
