---
export async function getStaticPaths() {
  const res = await fetch("https://frustrationmagazine.fr/wp-json/wp/v2/posts?_fields=slug");
  const slugs = await res.json();
  return slugs.map(({ slug }: any) => {
    return {
      params: {
        postSlug: slug
      }
    };
  });
}

const { postSlug } = Astro.params;
---

<p>This is the page for {postSlug}</p>
