---
import { BASE_URL, WORDPRESS_API } from "../global";

export async function getStaticPaths() {
  const res = await fetch(`${BASE_URL}/${WORDPRESS_API}/posts?_fields=slug`);
  const slugs = await res.json();
  return slugs.map(({ slug }: any) => {
    return {
      params: {
        slug
      }
    };
  });
}

const { slug } = Astro.params;
---

<p>This is the page for {slug}</p>
