---
import BaseLayout from "../layout/BaseLayout.astro";
import LastArticles from "../components/accueil/LastArticles.astro";
import "../styles/reset.css";
import "../styles/global.css";

import { BASE_URL, WORDPRESS_API } from "../global";

const res = await fetch(
  `${BASE_URL}/${WORDPRESS_API}/posts?_fields=excerpt.rendered,title,slug,og_image.url&per_page=6`
);
const posts_miniatures = await res.json();
---

<BaseLayout subtitle="Accueil">
  <main>
    <LastArticles posts={posts_miniatures} />
  </main>
</BaseLayout>
<style>
  main {
    padding: 3vh 2vw 0 2vw;
    max-width: 2200px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
</style>
