---
const { interviews } = Astro.props;
import { Image } from "astro:assets";
---

<style>
  .blurred-edges {
    mask-image: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0) 50%);
  }
</style>
<!-- Slider main container -->
<div
  class="swiper text-white w-[600px] max-w-full h-[500px]"
  style={{
    "--swiper-navigation-color": "#FFF",
    "--swiper-pagination-color": "#FFF",
    "--swiper-pagination-bullet-inactive-color": "#FFF",
    "--swiper-pagination-bullet-inactive-opacity": ".3",
    "--swiper-pagination-bullet-size": "10px",
    "--swiper-pagination-bullet-horizontal-gap": "6px",
    "--swiper-navigation-size": "30px"
  }}
>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper mb-12">
    <!-- Slides -->
    {
      interviews.map(({ title, image }) => (
        <div class="swiper-slide !flex flex-col justify-center items-center">
          <Image
            title={image.title}
            src={image.sourceUrl}
            alt={image.altText}
            width="600"
            height="300"
            class="blurred-edges saturate-0 contrast-125 h-[300px] w-auto mb-2"
          />
          <h5 class="text-center text-xl h-[3lh] max-w-[40ch] font-open-sans px-2 text-balance">{title}</h5>
        </div>
      ))
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay, Navigation, Pagination } from "swiper/modules";

  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  const swiper = new Swiper(".swiper", {
    modules: [Autoplay, Navigation, Pagination],
    autoHeight: true,
    speed: 700,
    spaceBetween: 100,
    direction: "horizontal",
    autoplay: {
      delay: 3000
    },
    pagination: {
      el: ".swiper-pagination"
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
</script>
