---
import { Image } from "astro:assets";
import jukeboxImage from "./assets/jukebox.png";
---

<div id="banner" class="bg-purple flex justify-center items-center pt-2 gap-4 md:pt-4 xl:pt-6">
  <Image
    src={jukeboxImage}
    width="300"
    alt="Un jukebox qui joue des notes de musique"
    class="jukebox-image w-auto self-end h-20 sm:h-24 md:h-36 lg:h-48 xl:h-50"
  />
  <div class="content">
    <h3 class="objectif">OBJECTIF 1500</h3>
    <h5 class="vous-aimez-frustration">Vous aimez Frustration ? Aidez-nous à GRANDIR !</h5>
    <div class="progress-bar"></div>
  </div>
</div>
<style lang="scss">
  #banner {

    .content {
      font-family: "Bebas Neue";
      color: #fff;
      text-align: center;
      align-self: center;

      .objectif {
        font-size: clamp(1.3rem, 4.5vw ,3.5rem)
      }

      .vous-aimez-frustration {
        font-size:  clamp(.7rem, 2.5vw ,2rem)
      }

      .progress-bar {
        width: 60%;
        height: clamp(10px, 2vw,30px);
        margin-top: clamp(5px, 1.5vw, 10px);
        background: #fff;
      }
    }
  }
</style>
