---
import { Image } from "astro:assets";
import jukeboxImage from "./assets/jukebox.png";
---

<div id="banner">
  <Image
    src={jukeboxImage}
    width="300"
    alt="jukebox playing notes"
    class="jukebox-image"
  />
  <div class="content">
    <h3 class="objectif">OBJECTIF 1500</h3>
    <h5 class="vous-aimez-frustration">Vous aimez Frustration ? Aidez-nous à GRANDIR !</h5>
    <div class="progress-bar"></div>
  </div>
</div>
<style lang="scss">
  #banner {
    width: 100%;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-content: center;
    gap: clamp(15px, 7vw, 35px);
    padding: 0 clamp(10px, 2vw, 20px);
    padding-top:clamp(10px, 2vw, 20px);

    .jukebox-image {
      height: clamp(80px, 15vw, 170px);
      width: auto;
      align-self: end;
    }

    .content {
      font-family: "Arca Majora 3";
      color: #fff;
      text-align: center;
      align-self: center;

      .objectif {
        font-size: clamp(1.3rem, 4.5vw ,3.5rem)
      }

      .vous-aimez-frustration {
        font-size:  clamp(.7rem, 2.5vw ,2rem)
      }

      .progress-bar {
        width: 60%;
        height: clamp(10px, 2vw,30px);
        margin-top: clamp(5px, 1.5vw, 10px);
        background: #fff;
      }
    }
  }
</style>
