---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import frustrationLogo from "./assets/frustration.webp";
---

<nav class="nav">
  <a
    href=""
    class="logo-frustration"
  >
    <Image
      src={frustrationLogo}
      width="400"
      alt="Logo de Frustration"
    />
  </a>

  <Icon name="magnifying-glass-solid" />
  <Icon name="bars-solid" />
</nav>
<style>
  .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    background: black;
    color: var(--yellow);
    padding: 10px 30px;
  }

  .logo-frustration {
    margin-right: auto;
    line-height: 0;
  }

  .logo-frustration img {
    max-width: 300px;
    height: auto;
  }

  svg {
    fill: var(--yellow);
    width: 25px;
  }

  svg:hover {
    cursor: pointer;
  }
</style>
