---
import Header from "./Header.astro";
import "@fontsource/bebas-neue";
import "@fontsource/open-sans/300.css";
import "@fontsource/open-sans/400.css";
import "@fontsource/open-sans/700.css";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/favicon_frustration.webp"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Frustration Magazine</title>
  </head>
  <body class="flex flex-col h-screen">
    <Header />
    <slot />
  </body>
</html>
