---
import Header from "./Header.astro";
import "@fontsource/bebas-neue";
import "@fontsource/open-sans";
interface Props {
  subtitle: string;
}

const { subtitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/favicon_frustration.webp"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Frustration Magazine - {subtitle}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style>
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    box-sizing: border-box;
  }
</style>
