---
import Header from "../components/header/Header.astro";
interface Props {
  subtitle: string;
}

const { subtitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/img/favicon_frustration.webp"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Frustration Magazine - {subtitle}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  body {
    min-height: 100vh;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #fff200;
  }
</style>
