---
import X from "./icons/X.astro";
import TikTok from "./icons/TikTok.astro";
import Facebook from "./icons/Facebook.astro";
import Youtube from "./icons/Youtube.astro";
import Instagram from "./icons/Instagram.astro";
import RSS from "./icons/RSS.astro";
import { getImage } from "astro:assets";

import frustrationFooterTexture from "./textures/frustration_footer_texture.png";
const optimizedBackground = await getImage({ src: frustrationFooterTexture, format: "webp" });
const backgroundUrl = `url(${optimizedBackground.src})`;
---

<footer class="bg-yellow pt-10">
  <div class="informations max-w-[1700px] flex flex-wrap justify-between m-auto py-12 lg:py-20 gap-10 px-6 lg:px-20">
    <!-- Titles -->
    <div class="titles w-full">
      <h2 class="uppercase font-bebas text-7xl leading-[80%] tracking-tighter">Frustration Magazine</h2>
      <h4 class="uppercase font-bebas text-3xl leading-none">Le média de la lutte des classes</h4>
      <p class="font-open-sans text-base">© Frustration – {new Date().getFullYear()}</p>
    </div>

    <!-- Module newsletter -->
    <div class="module-newsletter flex flex-col basis-[47%] flex-grow mt-10">
      <h5 class="uppercase font-bebas text-3xl mb-2 lg:mb-1 leading-[80%]">Nous suivre (jusqu'à la révolution)</h5>
      <p class="font-open-sans text-base mb-6 leading-tight">Recevez régulièrement une sélection de nos meilleurs articles récemment parus !</p>
      <form class="flex flex-col gap-3">
        <input
          class="px-5 py-2 text-sm"
          name="name"
          placeholder="Nom"
          type="text"
        />
        <input
          class="px-5 py-2 text-sm text-red-100"
          name="email"
          placeholder="Email"
          type="email"
        />
        <button
          type="submit"
          class="bg-black text-yellow font-open-sans font-bold text-base py-2"
          >S'inscrire à la newsletter</button
        >
      </form>
    </div>

    <!-- Module social networks and credits -->
    <div class="module-social-networks-credits basis-[47%] flex flex-col flex-grow justify-between mt-10 min-h-[150px]">
      <div class="social-networks">
        <h5 class="uppercase font-bebas text-3xl leading-[80%] mb-3">Nos réseaux sociaux</h5>
        <ul class="social-networks-links flex gap-3 items-center">
          <a
            href="https://twitter.com/Frustration_web"
            target="_blank"
          >
            <X />
          </a>
          <a
            href="https://www.facebook.com/FrustrationMag"
            target="_blank"
          >
            <Facebook />
          </a>
          <a
            href="https://www.youtube.com/channel/UCHCwlzgXqqjrNxfVOmLsU5w"
            target="_blank"
          >
            <Youtube />
          </a>
          <a
            href="https://www.tiktok.com/@frustrationmag"
            target="_blank"
          >
            <TikTok />
          </a>
          <a
            href="https://www.instagram.com/frustrationmag/"
            target="_blank"
          >
            <Instagram />
          </a>
          <a
            href="https://www.frustrationmagazine.fr/feed"
            target="_blank"
          >
            <RSS />
          </a>
          <!-- ajouter tiktok -->
        </ul>
      </div>
      <div class="credits flex flex-col gap-1">
        <p class="font-open-sans leading-none">
          <span class="font-bold">Design :</span>
          <span class="font-light">Antoine Glorieux</span>
        </p>
        <p class="font-open-sans leading-none">
          <span class="font-bold">Développement :</span>
          <span class="font-light">Thibaut Izard</span>
        </p>
      </div>
    </div>
  </div>
  <!-- Useful links -->
  <ul class="font-bebas bg-black text-yellow flex justify-center items-center gap-4 py-1 lg:py-2 text-sm lg:text-lg">
    <style>
      .useful-link::before {
        content: "";
        width: 0%;
        height: 2px;
        background-color: #fff200;
        display: block;
        position: absolute;
        bottom: 0;
        transition: width 200ms linear;
        left: 50%;
        translate: -50% 0;
      }

      .useful-link:hover::before {
        width: 100%;
      }
    </style>
    <a
      href="/mentions-legales"
      class="useful-link relative"
    >
      <li>Mentions légales</li>
    </a>
    <a
      href="/politique-de-confidentialite"
      class="useful-link relative"
    >
      <li>Politique de confidentialité</li>
    </a>
  </ul>
</footer>
<style define:vars={{ backgroundUrl }}>
  footer {
    background-color: #fff200;
    background-image: var(--backgroundUrl);
    background-repeat: repeat;
    background-size: contain;
  }
</style>
