---
import { Image } from "astro:assets";
import MagnifyingGlassIcon from "./icons/MagnifyingGlass.astro";
import BarsIcon from "./icons/Bars.astro";
import frustrationLogo from "./images/logo-frustration.webp";
---

<header>
  <nav class="nav">
    <a
      href="/"
      class="logo-frustration"
    >
      <Image
        src={frustrationLogo}
        width="400"
        alt="Logo de Frustration"
      />
    </a>
    <div class="icons">
      <MagnifyingGlassIcon />
      <BarsIcon />
    </div>
  </nav>
</header>

<style>
  .nav {
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: clamp(6px, 1vw, 10px) clamp(10px, 2vw, 30px);

    .logo-frustration {
      margin-right: auto;
      img {
        width: clamp(120px, 20vw, 300px);
        height: auto;
      }
    }

    .icons {
      display: flex;
      gap: clamp(10px, 1.5vw, 30px);

      svg {
        height: clamp(15px, 2vw, 25px);
      }
    }
  }
</style>
